/* font family */
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles */
*{
  margin: 0;
  padding: 0;
}
.btn-primary{
  font-size: large;
  width: 244px;
height: 57px;
padding: 10px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;

}
.desc{
  color: rgb(13, 19, 33);
  margin: 24px 0px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
}
.text-center{
  text-align: center;
}


/* nav */

.nav-sec{
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
  /* border: 3px solid red; */
}
.nav-title{
width: 128px;
height: 33px;
font-size: 28px;
font-weight: 800;
line-height: 33px;
color: rgb(13, 19, 33)
}
/* banner section */
.banner-sec-container{
  max-width: 1920px;
  height: 652px;
  border: 2px solid rebeccapurple;
  background-image: url("/assets/Hero-bg.png");
  background-size: cover;
}
.banner-innertext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.banner-img{
margin-top: 20px;
}
.banner-title{
  color: rgb(13, 19, 33);
margin-top: 15px;
font-size: 18px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
}
.banner-desc{
margin-top: 15px;
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
}
/* banner button */

.scroll-down{
  border-radius: 8px;
color: white;
background: rgb(13, 19, 33);
padding: 21px 24px 21px 24px;
}

/* main section */

main{
  max-width: 1140px;
  margin: 0 auto;
}
.container{
  margin-top: 75px;
  border-radius: 16px;

  background: rgba(13, 19, 33, 0.02); 
}
.container-title{
  margin-top: 80px;
  margin-bottom: 25px;
  color: rgb(13, 19, 33);
  font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
}
.data-title-desc{
 margin-bottom: 50px;
 padding: 40px;
 
}

/* data design */
.data-container-1{
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  border-radius: 16px;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin: 32px 0;
padding: 48px;
}
.data-container-2{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  border-radius: 16px;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin: 32px 0px;
padding: 48px;
}
.data-container-3{
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  border-radius: 16px;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin: 32px 0px;
padding: 48px;
}
.data-text-container{
  width: 477px;
height: 219px;
margin: 0px 20px;
}
.data-title{
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
margin: 16px 0px;
}
.data-btn-primary{
  color: rgb(13, 19, 33);
  margin: 10px 10px;
  padding: 12px 10px 12px 10px;
  font-size: 20px;
  letter-spacing: 0%;
  text-align: center;
}
.inspiration{
  margin-top: 90px;
}
.inspiration-title{
  margin-bottom: 15px;
  color: rgb(13, 19, 33);
  font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
}
.video{
  box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
margin: 48px 0px;
}
.v-size{
  box-sizing: border-box;
/* border: 1px solid rgba(13, 19, 33, 0.2); */
border-radius: 16px;
}
/* target section */
.target-title{
  color: rgb(13, 19, 33);
  margin: 24px 0px;
  font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
}

/* skill section */
.skills{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 20px
}
.skill-1{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
padding: 20px;
background-color: #FFF6F4;
border-radius: 5px;
}
.skill-2{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
padding: 20px;
background-color: #F2F6FE;
border-radius: 5px;
}
.skill-3{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
padding: 20px;
background-color: #FFFDF3;
border-radius: 5px;
}
.skills a{
color: black;
}